<template>
  <div class="admin-page">
    <section class="new-post">
      <AppButton @click="$router.push('/admin/new-post')">Create Post</AppButton>
      <AppButton @click="onLogout ">Logout</AppButton>
      <nuxt-link to="/" class="ml-4">Go Back</nuxt-link>
    </section>
    <section class="existing-posts">
      <h4>Existing Posts</h4>
      <PostList isAdmin :posts="loadedPosts"/>
    </section>
  </div>
</template>

<script>
export default {
  middleware: ['check-auth', 'auth'],
  layout: 'admin',
  computed: {
    loadedPosts(){
      return this.$store.getters.loadedPosts
    }
  }, 
  methods: {
    onLogout() {
     this.$store.dispatch('logout');
     this.$router.push('/admin/auth') 
    }
  }
}
</script>