<template>
  <div class="admin-post-page">
    <section class="update-form">
      <AdminPostForm :post="loadedPost" @submit="onSubmitted"/>
    </section>
  </div>
</template>

<style scoped>
.update-form {
  width: 90%;
  margin: 20px auto;
}
@media (min-width: 768px) {
  .update-form {
    width: 500px;
  }
}
</style>

<script>
import AdminPostForm from '@/components/Admin/AdminPostForm'

export default {
  layout: 'admin',
  middleware: ['check-auth', 'auth'],
  components: {
    AdminPostForm
  },
  methods: {
    onSubmitted(editedPost){
      this.$store.dispatch('editPost', editedPost)
      .then(()=>{
        this.$router.push('/admin') 
      })
    }
  },
  asyncData(context){
    console.log('hi: ', context.params)
    return context.app.$axios.$get('/posts/'+context.params.postId+'.json')
    .then(res=> { 
      return { 
        loadedPost: {
          ...res,
          id: context.params.postId
        } 
      }
    })
    .catch(err=> {
      context.error(err);
    })
  }
}
</script>