<template>
  <div>
    <nuxt/>
  </div>
</template>

<style>
  html {
    /* font-family: 'M PLUS 1', sans-serif; */
    font-family: 'M PLUS 2', sans-serif;
    color: #455;
  }
  body {
    margin: 0;
  }
</style>