<template>
  <div>
    <TheHeader @sidenavToggle="displaySideNav = !displaySideNav" />
    <TheSidenav :show="displaySideNav" @close="displaySideNav = false"/>
    <nuxt/>
  </div>
</template>

<script>
import TheHeader from '@/components/Navigation/TheHeader'
import TheSidenav from '@/components/Navigation/TheSidenav'

export default {
  // middleware: 'log', 
  components: {
    TheHeader, TheSidenav
  },
  data() {
    return { 
      displaySideNav: false
    }
  }
}
</script>

<style>
  html {
    /* font-family: 'M PLUS 1', sans-serif; */
    font-family: 'M PLUS 2', sans-serif;
    color: #455;
  }
  body {
    margin: 0;
  }
</style>