<template>
  <div class="home-page ">
    <section class="intro">
      <h1>Get the latest news!</h1>
    </section>
    <PostList :posts="loadedPosts"/>
  </div>
</template>

<script>
export default {
  // asyncData(context, callback){
    //   setTimeout(() => {
    //     callback(null, {
    //       loadedPosts: [
    //         {
    //           id: "1",
    //           title: 'First Post',
    //           previewText: "Hey naw - my head's hurtin'",
    //           thumbnail: "https://blog.logrocket.com/wp-content/uploads/2019/04/1_gJkwvC01hwnQZd51ylvp9g.jpeg",

    //         }, 
    //         {
    //           id: "2",
    //           title: 'Another Post?',
    //           previewText: "Weren't we just here?!'",
    //           thumbnail: "https://blog.logrocket.com/wp-content/uploads/2019/04/1_gJkwvC01hwnQZd51ylvp9g.jpeg",
    //         },
    //       ]
    //     })
    //   }, 1500);
  // },
  computed: {
    loadedPosts(){
      return this.$store.getters.loadedPosts;
    }
  },
  created() {},
  data(){
    return {
      // loadedPosts: []
    }
  }
}
</script>

<style scoped>
  .intro {
    height: 300px;
    position: relative;
    padding: 30px;
    box-sizing: border-box;
    background-image: url('~assets/images/surfing.jpg');
    background-position: bottom;
    background-size: cover;
  }

  .intro h1 {
    position: absolute;
    top: 10%;
    left: 5%;
    width: 90%;
    font-size: 1.5rem;
    color: black;
    background-color: rgb(211, 211, 211);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px black;
    box-sizing: border-box;
    border: 1px solid black;
  }

  @media (min-width: 768px) {
    .intro h1 {
      font-size: 2rem;
    }
  }

</style>

